/* Fuente para el texto Frutas y Verduras que es el que use para las tarjetas*/
@import url('https://fonts.cdnfonts.com/css/dungeon');
                

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

:root{
    --primary-color: #c20b0b;
    --text-white: #fafafa;
    --height-nav: 60px;
    --title-size: 35px;
    
    --width-title-product: 300px;
    --font-dungeon: 'Dungeon', sans-serif;
}

@font-face {
    font-family: 'Dungeon';
    src: url('./assets/fonts/Dungeon_Regular/Dungeon_Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/*
::-webkit-scrollbar{
    width: 10px;  
}

::-webkit-scrollbar-track{
    background: linear-gradient(transparent, white);    
    border-radius: 50px;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(transparent, red);
    background: red;    
    border-radius: 50px;
}
*/

html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-evenly;
}

.screen{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    background: var(--primary-color);
    min-height: 100vh;
}

.screen a{
    font-size: 30px;
    border: 1px solid black;
    padding: 20px;
    background: black;
    border-radius: 15px;
    color: var(--text-white);
    width: 50%;
    text-align: center;
    max-width: 300px;
}

.welcome-container{
    width: 90%;
    max-width: 1200px;
    /* background: lightseagreen; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.welcome-container img{
    width: 100%;
    /* background: green; */
}

.welcome-container h1{
    font-family: 'Dungeon', sans-serif;
    color: var(--text-white);
    font-size: 3em;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.screen p{
    display: block;
    font-size: 50px;
    height: 100%;
    color: black;
}

header{
    background: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--height-nav);
    padding: 10px 100px;
    position: sticky;
    top: 0;
    z-index: 10;
    border-bottom: 2px solid white;
}

nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.logo-container{
    height: 100%;
    width: 100px;
}

.logo-souto{
    max-width: 100%;
    max-height: 100%;
}

.menu-label, #menu-toggle{
    display: none;
}

#menu-list{
    display: flex;
    gap: 30px;
    background: var(--primary-color);
}

#menu-list a{
    color: var(--text-white);
    text-decoration: none;
    font-size: 20px;
}

main{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0px 50px;
}

section{
    display: flex;
    width: 100%;
    max-width: 1200px;
    background: var(--primary-color);
    padding: 20px;
    border-radius: 15px;
}

section h1, section h2{
    font-family: "Jura", sans-serif;
    color: var(--text-white);
}

section li a{
    color: var(--text-white);
    text-decoration: none;
}


/* Hero section */
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    max-width: 1400px;
    background: var(--primary-color);
}

.hero img{
    max-width: 65%;
    border-radius: 5px;
}

.start-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
}

.home-button{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

/*
.home-button img{
     padding: 10px;
}
*/

.home-button p{
    font-family: 'Dungeon', sans-serif;
    color: var(--text-white);
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    width: 100%;
    text-align: center;
}

.inquiry-button{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    height: 40px;
    background: #139b06;
    padding: 5px 20px;
    border-radius: 10px;
    border: 2px solid black;
}

.inquiry-button img{
    height: 100%;
}

.inquiry-button p{
    color: var(--text-white);
    font-size: 17px;
}


/* Products Section */
.products-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: var(--primary-color);
}

.products-section h2{
    font-size: 30px;
    color: var(--text-white);
}

.others{
    max-width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background: #f8f8f8;
}

.others img{
    border-radius: 12px;
    /*height: 300px;*/
    width: 400px;
}

.featured-products{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    height: 400px;
    width: 50%;
}

.featured-products p{
    color: var(--text-white);
}

.featured-products img{
    max-width: 100%;
    height: 88%;
}

#product-list{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
    gap: 20px;
    padding: 20px;
}

.product{
    display: flex;
    flex-direction: column;
    gap: 3px;
    justify-content: stretch;
    width: 100%;
    border: 2px solid ;
    border-radius: 8px;
    padding: 10px 5px;
    background: #e2e2e2;
}

.title{
    text-align: center;
    padding: 10px;
    font-size: 16px;
    font-weight: 600;
    background: var(--primary-color);
    border-radius: 10px 10px 0px 0px;
    color: var(--text-white);
}

.image-containter{
    display: flex;
    justify-content: stretch;
    width: 100%;
    height: 200px;
}

.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 0px 0px 10px 10px;
}

.description{
    font-size: 16px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
}

.price{
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 50px;
    text-align: center;
}


/* Contact section */
.contact-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.data-block{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.contact-container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-section .contact{
    padding: 5px;
    background: white;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 50px;
    border-radius: 12px;
    padding: 10px 10px;
}

.contact img{
    height: 100%;
}

.contact{
    font-size: 20px;
    color: black;
}


/* Ubication */
#ubication{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: var(--primary-color);
}

.maps{
    display: flex;
    width: 100%;
}

iframe{
    display: flex;
    width: 100%;
    height: 600px;
}


/* Footer section */
footer{
    padding: 40px;
    background: var(--primary-color);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

footer h3{
    font-size: 25px;
    color: var(--text-white);
}

footer a, footer p{
    font-size: 18px;
    color: var(--text-white);
}

#developer{
    color: white;
    text-decoration: underline;
}